In [1]:
import pandas as pd
import numpy as np

In [4]:
fruits = ['apple','banana','orange','grape','apple','grape']
price = [1000,3000,5000,7000,10000,15000]

df = pd.DataFrame({'fruits' : fruits,'price' : price})

In [5]:
df

   fruits  price
0   apple   1000
1  banana   3000
2  orange   5000
3   grape   7000
4   apple  10000
5   grape  15000

In [7]:
df.loc[df['fruits'] == 'apple','price'] = 30000

In [8]:
df

   fruits  price
0   apple  30000
1  banana   3000
2  orange   5000
3   grape   7000
4   apple  30000
5   grape  15000

In [1]:
import argparse

# 인자값을 받을 수 있는 인스턴스 생성
parser = argparse.ArgumentParser(description='사용법 테스트입니다.')

# 입력받을 인자값 등록
parser.add_argument('--target', required=True, help='어느 것을 요구하냐')
parser.add_argument('--env', required=False, default='dev', help='실행환경은 뭐냐')

# 입력받은 인자값을 args에 저장 (type: namespace)
args = parser.parse_args()

# 입력받은 인자값 출력
print(args.target)
print(args.env)

usage: ipykernel_launcher.py [-h] --target TARGET [--env ENV]
ipykernel_launcher.py: error: the following arguments are required: --target

SystemExit: 2

C:\Users\Kaya\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3452: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)